
/* ..................Hooks Basic Styling................. */

/* *{
  padding: 0;
}
body{
  background-color: plum;
}

h1{
  text-align: center;
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 30px;
}

button{
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: purple;
  color: white;
} */

/* ..........Digital Clock Styling.............. */


*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color: aqua;
  text-align: center;
  margin-top: 20px;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 30px;
  height: 400px;
  width: 400px;
  background-color: aqua;
  border-radius: 50%;

  

}


.container h1{
  font-size: 40px;
  color: black;
}


.footer{
  background-color: black;
  color: aqua;
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
 }